.row.save-and-submit-btn
  - unless params[:admin_edit] == "true"
    .col-lg-1.pull-right
      %a.btn.btn-primary.form-submit{data: {status: 'PUBLISHED'}} SUBMIT
  .col-lg-1.pull-right
    %a.btn.btn-primary.form-save{data: {status: 'DRAFT'}} SAVE