.row.save-and-submit-btn
  .col-lg-1.col-lg-offset-10
    %a.btn.btn-primary.form-save{data: {status: 'DRAFT'}} SAVE as DRAFT
  .col-lg-1
    %a.btn.btn-primary.form-submit{data: {status: 'PUBLISHED'}} PUBLISH
