%h3 Saved/Submitted Insurance Application Forms

.row.new-form-btn
  = link_to 'Create a New Insurance Form', select_form_insurance_services_path, class: 'btn btn-primary pull-right'
.row
  .col-lg-12
    %table.table
      %thead
        %tr
          %th Form Name
          %th Form XML Content
          %th Status
          %th Actions
      %tbody
        = render partial: 'filled_form', collection: @filled_forms
