<div class="container login-header-panel">
  <div class="row">
    <div class='col-md-12'>
      <h3>
        Access Your Account
      </h3>
    </div>
  </div>
</div>
<div class="container login">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <h5>
        Please complete the below fields to login in to view your policy details.
      </h5>
    </div>
    <div class='col-md-12'>
      <%= form_tag(session_path(resource_name), method: :post, :class => "col-md-offset-3 col-md-6 form-horizontal", role: "form" ) do %>
        <div class="form-group">
          <div class="col-sm-12">
            <%= text_field_tag 'user[email]', '', :autofocus => true, :required => "required", :class => "form-control pull-right control-dimension-update", placeholder: "Email" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <%= password_field_tag 'user[password]', '', :required => "required", :class => "form-control pull-right control-dimension-update", placeholder: "Password" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-3 col-md-6">
            <%= submit_tag "Login", class: "btn btn-warning" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>