@font-face {
    font-family: 'proximanovacond-regular';
    src: font-url('proximanovacond-regular.eot');
    src: font-url('proximanovacond-regular.eot?#iefix') format('embedded-opentype'), font-url('proximanovacond-regular.woff') format('woff'), font-url('proximanovacond-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}